.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  margin-top: 147px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: skyblue;
}

.img {
  width: 50px;
  height: 50px;

  margin-left: auto;
}

.form {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 8px rgba(27, 125, 3, 0.26);
  border-radius: 6px;
  width: 150%;
  height: 50%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 4%;

}

.form label,
.form input {
  display: block;
}

.form label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.form input {
  flex: 3;
  font: inherit;
  padding: 0.45rem 0.45rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 95%;
}

.form input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.form.invalid input {
  border-color: red;
  background: #fbdada;
}


.button {
  font: inherit;
  border: 1px solid #4f005f;
  background: skyblue;
  color: white;
  padding: 0.375rem 1.75rem;

  cursor: pointer;
  font-size: 0.575rem;
  margin-left: 30%;
  border-radius: 30px;
}