.div1 {

  position: absolute;
  top: 10%;
  left: 20%;
  width: 30%;
  min-height: 70%;
  background-color: #3c414d;
  padding: 20px;
  box-sizing: border-box;
}

.div2 {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: rgb(121, 117, 117);
  padding: 15px;
}

.div3 {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
}

.logoutImage {
  margin-left: 90px;
}
