.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: auto;
}

.popup {
  padding: 40px;
  border-radius: 8px;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background: #0c0c0c;
  color: white;
  text-align: center;
}

.popup-title {
  font-size: 18px;
  font-weight: bold;
  margin: 50px auto;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 9999px;
}

.primary-button {
  background-color: white;
  color: black;
  margin-bottom: 10px;
}

.alternative-button {
  color: white;
  border: 1.5px solid white;
  background: none;
}
