
.profile-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile-info {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    color: black;
}

.profile-avatar {
    position: absolute;
    top: -55px;
    left: 2%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #a5c6ef;
}

.profile-name {
    margin: 0;
    font-size: 28px;
}

.profile-username {
    margin: 0;
    font-size: 18px;
    color: gray;
}



.edit-button,
.follow-button {
    background-color: #1d9bf0;
    border-radius: 20px;
    border-style: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color 0.3s;
    margin: 5px;
    width: fit-content;
    margin-left: auto;
}

.edit-button:hover,
.follow-button:hover {
    background-color: #0c8ddc;
}

.tweet {
    border-bottom: 1px solid #e1e8ed;
    padding: 15px 0;
}

.tweet p {
    margin: 0 0 10px;
}

.tweet small {
    color: gray;
}

li {
    color: black;
}

.get-tweets {
    display: table;
    align-items: flex-start;
    padding: 12px;
    border-bottom: 1px solid #e1e8ed;
    background-color: #fff;
  }
  
  .get-tweets strong {
    font-size: 14px;
    font-weight: bold;
    margin-right: 6px;
  }
  
  .get-tweets > span {
    font-size: 14px;
    color: #657786;
    margin-right: 6px;
  }
  