html,
body {
  display: flex;
  justify-content: center;
  height: 100%;
}



.main {
  max-width: 340px;
  min-height: 460px;
  padding: 10px 0;
  margin: auto;
  border-radius: 5px;
  border: solid 1px #ccc;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
  background: #ebebeb;
}

.form {
  margin: 0 30px;
}

body,
div,
h1,
form,
input {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #666;
}

h1 {
  padding: 10px 0;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: darkgreen;
}

label#icon {
  margin: 0;
  border-radius: 5px 0 0 5px;
}

input[type=text],
input[type=password] {
  width: calc(100% - 57px);
  height: 36px;
  margin: 13px 0 0 -5px;
  padding-left: 10px;
  border-radius: 0 5px 5px 0;
  border: solid 1px #cbc9c9;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
  background: #fff;
}

input[type=radio]:checked+label:after {
  opacity: 1;
}

input[type=password] {
  margin-bottom: 15px;
}

#icon {
  display: inline-block;
  padding: 9.3px 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
  background: #1c87c9;
  color: darkgreen;
  text-align: center;
  margin-left: 30px;
}

.btn-block {
  margin-top: 10px;
  text-align: center;
}

button {
  width: 100%;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  background: #1c87c9;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

button:hover {
  background: #26a9e0;
}

.adjust {
  display: inline-block;
  flex-direction: column;
}