.register {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  margin-top: 147px;
  width: 40%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  margin-top: 147px;
}

/* .form {
  margin: 0 30px;
} */
/* 
body,
div,
h1,
form,
input {
  padding: 0;
  margin: 10px;
   outline: none; 
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #666;
  width: 80%;
  margin-left: 20px;
} */

h1 {
  padding: 10px 0;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: skyblue;
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}



.control input {
  flex: 0.5;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid light gray;
  margin-left: 20px;
}

input:hover {
  border: blue;
}


input:focus {
  outline: none;
  border-color: skyblue;
  background: #f6dbfc;
}

/* .control.invalid input {
  border-color: red;
  background: #fbdada;
} */

.actions {
  text-align: center;
}

.img {
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }

}

.img {
  width: 50px;
  height: 50px;
  margin-left: 40%;
  margin-right: 10px;

}