.home {
    display: flex;
    height: 100vh;
    color: #ffffff;
    background: #a5c6ef;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.home-left-section {
    max-width: 240px;
    border-right: 2px solid #2587d7;
    padding: 0 40px;
}

.home-main-section {
    width: 100%;
}

.home-right-section {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    padding: 10px 20px;
    width: 100%;
    border-left: 2px solid #2587d7;
}

.search-box {
    padding: 8px 12px;
    border: #2587d7 solid;
    border-radius: 20px;
    background-color: #a5c6ef;
    color: #b0b0b0;
    font-size: 11px;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
    margin-bottom: 10px;
}

.search-box:focus {
    background-color: #000000;
    border: 1px solid #1da1f2;
    color: #ffffff;
}