.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 50vw;
  height: 70vh;
  background-color: #fff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.img {
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
}

.loginH1 {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

input {
  padding: 8px 12px;
  border-radius: 9999px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 16px;
  font-size: 16px;
}

input:focus {
  border-color: #1da1f2;
}

.div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.button {
  padding: 8px 12px;
  background-color: #000000;
  color: #fff;
  border-radius: 9999px;
  border: none;
  outline: none;
  margin-top: 16px;
  font-size: 16px;
  cursor: pointer;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #1da1f2;
}

.error {
  color: red;
  margin-top: 16px;
  font-size: 16px;
}