.bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    float: right;
    padding: 0 5px;
}

.post-tweet {
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 10px;
}

.tweet-text {
    border-radius: 5px;
    padding: 10px;
    appearance: none;
    background-color: transparent;
    color: #888;
    border: none;
    resize: none;
}

.tweet-text:focus,
.tweet-text:active,
.tweet-text:hover {
    outline: none;
}

.error-message {
    color: green;
}

.success-message {
    color: red;
}

.message {
    margin-right: 10px;
    font-size: 11px;
}

.tweet-form {
    display: flex;
    flex-direction: column;
}

.post-tweet-button {
    background: #1d9bf0;
    border-radius: 20px;
    border-style: none;
    padding: 7px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
    font-size: 11px;
}

.post-tweet-button:hover:not(.post-tweet-button:disabled) {
    background: #157cc2;
}

.post-tweet-button:disabled {
    opacity: 0.5;
    cursor: unset;
}